/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 24 nov. 2016, 10:25:11
    Author     : MARTINSM_INFO
*/
html{
    min-width: 300px;
}

.footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 30px;
    background-color:#c41d1d;
    color: #ffffff;
}

.footer-container {
    margin-top: 4px;
    margin-left: auto;
    margin-right: auto;
    height: 1px;
    width: 300px;
    text-align: center;
}

.strandardCenter {
    margin-left: auto;
    margin-right: auto;
    max-width: 900px;
    min-width: 250px;
    height: auto;
    background-color: #f4f4f4;
    border-style: solid;
    border-color: #e5e5e5;
    margin-bottom: 50px;
}

.post {
    margin-left: auto;
    margin-right: auto;
    max-width: 600px;
    min-width: 250px;
    height: auto;
    margin-bottom: 5px;
    margin-top: 5px;
    border-bottom: 2px solid #bababa;
}

.post h3{
    text-align: center;
    
}

.post button{
    margin-bottom: 5px;
}

.postPicture {
    width: 100%;
    height: auto;
}

.postPicture figure{
    
}

.postPicture figure img{
    display: block;
    width: auto;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;

}

.postFooter p{
    float: right;
    width: 80px;
}

.like {
    color: green;
}

.dislike {
    color: red;
}

.postBlague {
    height: auto;
    width: 100%;
    border-style: solid;
    border-width: 2px;
    border-color: #e2ddc7;
    margin-bottom: 5px;
    background-color: #e8e8e8;
}

.pBlague {
    height: 98%;
    width: auto;
    background-color: #f9f9f9;
    padding: 10px;
    margin-bottom: 5px;
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
    margin-right: 5px;
    text-align: justify;
    text-justify: inter-word
}

.addForm {
    max-width: 580px;
    min-width: 200px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.addForm label {
    width: 100px;
}

.addForm h3 {
    text-align: center;
}


