/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 24 nov. 2016, 10:25:11
    Author     : MARTINSM_INFO
*/
.footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 30px;
    background-color: #333333;
    color: #FFFFFF;
}

.footer-container {
    margin-top: 4px;
    margin-left: auto;
    margin-right: auto;
    height: 1px;
    width: 300px;
    text-align: center;
}
